{{define "title"}}{{.Title}}{{end}}
{{define "header"}}
    <h1>{{.Header}}</h1>
{{end}}
{{define "content"}}
    <h2>{{.MainHeading}}</h2>
    <p>{{.Content}}</p>
{{end}}
{{define "footer"}}
    <p>{{.Footer}}</p>
{{end}}