{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{block "title" .}}{{.Title}}{{end}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <header>
        {{block "header" .}}
            <h1>Default Header</h1>
        {{end}}
    </header>
    <main>
        {{block "content" .}}
            <p>Default Content</p>
        {{end}}
    </main>
    <footer>
        {{block "footer" .}}
            <p>Default Footer</p>
        {{end}}
    </footer>
    </body>
    </html>
{{end}}